@page "{Id:int}"
@using System.Collections.Generic;
@using cdcore5.Domain.Entity;
@model cdcore5.Pages.EditorialEditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Editar editorial";
}

<div class="text-center">
    <h1 class="display-4">Editar Editorial</h1>
    <form method="POST">
        <div asp-validation-sumary="All"></div>
    <div>
        <input asp-for="editorial.Id" type="hidden">
        <label>Nombre</label>
        <input  asp-for="editorial.Nombre"/>
        <span asp-validation-for="editorial.Nombre"></span>
        <label>Sede</label>
        <input asp-for="editorial.Sede"/>
        <span asp-validation-for="editorial.Sede"></span>
        <button type="submit">Guardar</button>
    </div>
    </form>  
</div>
